In [3]:
from metaflow import Metaflow,Flow,Run,Step
import pandas as pd

In [4]:
print(Metaflow().flows)

[Flow('CryptoTAFlow')]

In [15]:
flow = Flow('CryptoTAFlow')
runs = list(flow)
last_run = runs[0]

In [17]:
step = list(last_run)[2]

In [20]:
data = step.task.data.rsi

In [25]:
df = pd.DataFrame(data).T

In [30]:
df[df["IS_RSI_OVERBOUGHT"] == True].index

Index([], dtype='object')

In [32]:
idx = df[df["IS_RSI_OVERSOLD"] == True].index

In [35]:
s = ","

s.join(list(idx))

'ethereum'

TA_lib

In [71]:
import talib

In [82]:
flow = Flow('CryptoTAFlow')
runs = list(flow)
last_run = runs[0]

In [83]:
step = list(last_run)[-2]
df = step.task.data.df
df.head()

      Time_in_ms   Open   High    Low  Close
0  1660752000000  41.05  41.05  41.05  41.05
1  1660766400000  41.12  41.60  41.12  41.60
2  1660780800000  40.83  40.97  40.47  40.47
3  1660795200000  40.53  40.87  40.53  40.86
4  1660809600000  40.87  40.91  40.72  40.81

In [85]:
talib.SMA(df["Close"], 20).values[-1]

33.695

In [78]:
talib.SMA(df["Close"], 50).values[-1]

34.62480000000001

In [18]:
df["Close"].iloc[-1]

32.68

In [17]:
df["Close"].iloc[-1] > talib.SMA(df["Close"], 20).values[-1]

False

In [20]:
df["Close"].iloc[-1] > talib.SMA(df["Close"], 50).values[-1]

False

In [29]:
sma_50 = talib.SMA(df["Close"], 50).values[-50:]
close_50 = df["Close"].iloc[-50:]
close_50 > sma_50

131     True
132     True
133     True
134     True
135     True
136     True
137     True
138     True
139     True
140     True
141     True
142     True
143     True
144     True
145     True
146     True
147     True
148     True
149     True
150     True
151     True
152     True
153     True
154     True
155     True
156     True
157     True
158     True
159     True
160     True
161     True
162     True
163     True
164     True
165    False
166    False
167    False
168    False
169    False
170    False
171    False
172    False
173    False
174    False
175    False
176    False
177    False
178    False
179    False
180    False
Name: Close, dtype: bool

In [41]:
sma_20 = talib.SMA(df["Close"], 20).values[-20:]
close_20 = df["Close"].iloc[-20:]
cross = close_20 > sma_20
cross.reset_index(drop=True,inplace=True)
cross

0      True
1      True
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
Name: Close, dtype: bool

In [42]:
cross[cross == True].index[0]

0

### Basic indicators

In [53]:
flow = Flow('CryptoTAFlow')
runs = list(flow)
last_run = runs[0]

In [54]:
step = list(last_run)[3]
df = step.task.data.basic_indicators

In [55]:
df

{'RSI': 40,
 'IS_RSI_OVERBOUGHT': False,
 'IS_RSI_OVERSOLD': False,
 'IS_CROSS_ABOVE_SMA20': False,
 'IS_CROSS_ABOVE_SMA50': False}

## DF indicators

In [88]:
flow = Flow('CryptoTAFlow')
runs = list(flow)
last_run = runs[0]

In [90]:
step = list(last_run)[2]
df = step.task.data.df_indicators
df.T

                        bitcoin   ethereum   solana
RSI                          35         26       36
IS_RSI_OVERBOUGHT         False      False    False
IS_RSI_OVERSOLD           False       True    False
SMA20                 20210.217   1563.449   33.695
IS_CROSS_ABOVE_SMA20      False      False    False
IS_CROSS_BELOW_SMA20      False      False    False
SMA50                 20824.021  1656.0258  34.6248
IS_CROSS_ABOVE_SMA50      False      False    False
IS_CROSS_BELOW_SMA50      False      False    False