In [74]:
from pycoingecko import CoinGeckoAPI
cg = CoinGeckoAPI()

In [75]:
import pandas as pd 

data = cg.get_coin_ohlc_by_id(id='bitcoin', vs_currency="usd", days="30")
cols= ["Time", "Open", "High", "Low", "Close"]
df = pd.DataFrame(data, columns=cols)

df.shape

(180, 5)

In [76]:
df = df[["Time","Close"]]
#df["Time real"] = pd.to_datetime(df["Time"], unit="ms")
df.head()

            Time     Close
0  1660420800000  24452.41
1  1660435200000  24433.03
2  1660449600000  24617.90
3  1660464000000  24659.87
4  1660478400000  24656.76

In [79]:
pd.to_datetime(df["Time"], unit="ms")

0     2022-08-13 20:00:00
1     2022-08-14 00:00:00
2     2022-08-14 04:00:00
3     2022-08-14 08:00:00
4     2022-08-14 12:00:00
              ...
175   2022-09-12 00:00:00
176   2022-09-12 04:00:00
177   2022-09-12 08:00:00
178   2022-09-12 12:00:00
179   2022-09-12 16:00:00
Name: Time, Length: 180, dtype: datetime64[ns]

In [77]:
pred = pd.read_csv("../data/ForecastedPrices.csv")
pred

           Time  Forecasted Price
0  1.663085e+12      21563.159113
1  1.663070e+12      21603.000816
2  1.663056e+12      21643.083636
3  1.663042e+12      21683.343386
4  1.663027e+12      21723.717555
5  1.663013e+12      21764.145677

In [80]:
pd.to_datetime(pred["Time"], unit="ms")

0   2022-09-13 16:00:00
1   2022-09-13 12:00:00
2   2022-09-13 08:00:00
3   2022-09-13 04:00:00
4   2022-09-13 00:00:00
5   2022-09-12 20:00:00
Name: Time, dtype: datetime64[ns]

In [78]:
merge_df = df.merge(pred, on="Time", how="inner")
#merge_df["Time real"] = pd.to_datetime(merge_df["Time"], unit='ms')
merge_df

Empty DataFrame
Columns: [Time, Close, Forecasted Price]
Index: []

In [27]:
from sklearn.metrics import r2_score,mean_absolute_error,mean_squared_error,mean_absolute_percentage_error

In [25]:
y_true = merge_df['Close']
y_pred = merge_df['Forecasted Price']

-2.028269137281664

In [60]:
import time

metrics_dic = {
    "CalculationTIme" : round(time.time() * 1000),
    "R2" : r2_score(y_true, y_pred),
    "MAE" : mean_absolute_error(y_true,y_pred),
    "MSE": mean_squared_error(y_true,y_pred),
    "MAPE" : mean_absolute_percentage_error(y_true,y_pred)
}

metrics_df = pd.DataFrame(metrics_dic, index=[0])
metrics_df

   CalculationTIme        R2         MAE            MSE      MAPE
0    1662980790795 -2.028269  271.767242  122115.978636  0.012342

In [64]:
metrics_df.to_csv("../data/Monitoring.csv", mode='a', index=False, header=False)

In [66]:
a = metrics_df.to_csv(index=False, header=False)

In [67]:
a += metrics_df.to_csv(index=False, header=False)

In [70]:
merge_df.to_csv("../data/ActualVsForecasted.csv", index=False)

In [73]:
merge_df.sort_values(by="Time", ascending=False, inplace=True)